.header {
  text-align: center;
  color: $primary-color;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 28px;
  align-self: flex-start;
}

p.header-description {
  text-align: center;
  text-transform: capitalize;
}
