$blue: #1967d2;
$dark-blue: #021b3d;
$bg-light: #e3eefc;
$bg-grey: #f3f3f3;

$white: white;
$black: black;
$box-shadow: 0 4px 8px rgba($black, 0.3);
$btn-border-radius: 8px;
$btn-padding: 6px 12px;

$primary-color: #1967d2;
$text-muted: #877b7b;
